.block {
    display: block;
}

// .font-size-sm {
//     font-size: 2rem;
// }

// .font-size-md {
//     font-size: 4rem;
// }

// .font-size-lg {
//     font-size: 6rem;
// }




.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99999999;
}