.block {
    display: block;
}

// .font-size-sm {
//     font-size: 2rem;
// }

// .font-size-md {
//     font-size: 4rem;
// }

// .font-size-lg {
//     font-size: 6rem;
// }

.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

.w-25 {
    width: 25%;
}

.w-33 {
    width: 33%;

}

.w-50 {
    width: 50%;

}

.w-66 {
    width: 66%;

}

.w-75 {
    width:75%;

}

.w-85 {
    width:85%;

}

.w-100 {
    width: 100%;

}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99999999;
}