.section-main {
    &__image {
        background: linear-gradient(rgba($color-black, 0.8), rgba($color-black, 0.8)), url('../../pages/Home/images/websitecover-min.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        overflow: hidden;
    }
    &__heading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: $color-white;
        &--caption {
            font-size: 4.5rem;
        }
        &--text {
            font-size: 2.5rem;
        }
    }
}

.section-services {
    &__container {
        margin: 0 20rem;
        display: flex;
    }
    &__heading {
        padding: 7rem;
        &--caption {
            text-align: center;
            font-size: 4.5rem;
            font-weight: 900;
        }
        &--text {
            text-align: center;
            font-size: 1.5rem;
        }
    }
}

.section-middle {
    &__image {
        background: linear-gradient(rgba($color-black, 0.6), rgba($color-black, 0.6)), url('../../pages/Home/images/second-image.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 70vh;
        overflow: hidden;
        position: relative;
    }
    &__heading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: $color-white;
        &--caption {
            font-size: 4rem;
        }
        &--text {
            font-size: 2rem;
        }
    }
}

.section-last {
    background-color: rgba($color-black, 0.9);
    color: $color-white;
    height: 100%;
    // padding: 1rem;
    &__container {
        margin: 12rem 20rem 15rem 20rem;
        display: flex;
        &--column {
            padding: 5rem;
            position: relative;
            &--list {
                list-style-type: none;
                &--title {
                    font-size: 5rem;
                    margin-bottom: 1.5rem;
                }
                &--item {
                    font-size: 2.5rem;
                    &:not(:last-child) {
                        margin-bottom: 3rem;
                    }
                }
            }
            &--image {
                width: 100%;
                border-radius: 2rem;
                transition: all .3s;
                &:hover {
                    filter: blur(3px) grayscale(100%);
                }   
            }
            &--overlay {
                position: absolute;
                display: inline;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                transition: all 0.3s;
                font-size: 1.6rem;
                pointer-events: none;
                width: 100%;
                text-align: center;
            }
            &--image:hover + &--overlay{
                color: $color-white;
                opacity: 1;
            }
        }
    }
}