.section-main {
  position: relative;
  &__image {
    background: linear-gradient(
        rgba($color-black, 0.8),
        rgba($color-black, 0.8)
      ),
      url('../../pages/Home/images/websitecover-min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90rem;
    overflow: hidden;
  }
  &__heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $color-white;
    width: 100%;
    &--caption {
      font-size: 4.5rem;
    }
    &--text {
      font-size: 2.5rem;
    }
  }
}

.section-services {
  &__container {
    margin: 0 10rem;
    display: flex;
  }
  &__heading {
    padding: 7rem;
    &--caption {
      text-align: center;
      font-size: 4.5rem;
      font-weight: 900;
    }
    &--text {
      text-align: center;
      font-size: 1.5rem;
    }
  }
}

.section-middle {
  &__image {
    background: linear-gradient(
        rgba($color-black, 0.6),
        rgba($color-black, 0.6)
      ),
      url('../../pages/Home/images/second-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 70rem;
    overflow: hidden;
    position: relative;
  }
  &__heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $color-white;
    &--caption {
      font-size: 4rem;
    }
    &--text {
      font-size: 2rem;
    }
  }
}

.section-last {
  background-color: rgba($color-black, 0.9);
  color: $color-white;
  padding: 14rem;
  &__container {
    display: flex;
    background-color: $color-black;
    border-radius: 1rem;
    &--column {
      margin: 5rem;
      position: relative;
      &:last-child {
        width: 70%;
      }
      &:not(:last-child) {
        width: 30%;
      }
      &--list {
        list-style-type: none;
        &--title {
          font-size: 3.4rem;
          margin-bottom: 1.5rem;
          cursor: default;
          transition: all 0.3s;
          position: relative;
          &::after {
            content: '';
            background-color: $color-red-light;
            height: 3px;
            width: 10px;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            transition: width .5s;
          }

          &:hover {
            &::after {
                width: 100%;
            }
          }
        }
        &--item {
          font-size: 2rem;
          transition: all .3s;
          cursor: default;
          &:not(:last-child) {
            margin-bottom: 3rem;
          }
          &:hover {
              color: $color-red-light;
          }
        }
      }
      &--image {
        width: 100%;
        height: 100%;
        border-radius: 2rem;
        transition: all 0.3s;
        &:hover {
          filter: blur(3px) grayscale(100%);
        }
      }
      &--overlay {
        position: absolute;
        display: inline;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 0.3s;
        font-size: 1.6rem;
        pointer-events: none;
        width: 100%;
        text-align: center;
      }
      &--image:hover + &--overlay {
        color: $color-white;
        opacity: 1;
      }
    }
  }
}
